*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}

#videoContainer {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    aspect-ratio: 9 / 16;
    overflow: hidden;
}

#video {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#capture {
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}

#capture:hover {
    cursor: pointer;
    background-color: yellow;
}

#screenshot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#foto1 {
    display: none;
}

#foto2 {
    display: none;
}