div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin: 20px 0;
    height: 100%;
    width: 100%;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 280px;
    min-height: 304px;
    margin: 0 20px;
    height: 100%;
    background-color: var(--fondo-color);
}

figure{
    margin: 10px 0 0 0;
    width: 100%;
    height: 100%;
}

lottie-player {
    display: flex;
    flex-direction: column;
    height: 35vh;
}

/* Instrucciones 1 INICIO */
#instrucciones-1 {
    z-index: 1;
}

figure.videoIntro1 {
    background-image: url("/assets/img/introGif.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
/* Instrucciones 1 FIN */

/* Instrucciones 2 INICIO */
#instrucciones-2 {
    display: none;
    z-index: 2;
}
/* figure.videoIntro2 {
    background-image: url("/assets/img/Preparar-baño.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
} */

/* Instrucciones 2 FIN */

/* Instrucciones 3 INICIO */
#instrucciones-3 {
    display: none;
    z-index: 3;
}
/* figure.videoIntro3 {
    background-image: url("/assets/img/Foto1.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
} */

/* Instrucciones 3 FIN */

/* Instrucciones 4 INICIO */
#instrucciones-4 {
    display: none;
    z-index: 4;
}
/* figure.videoIntro4 {
    background-image: url("/assets/img/Foto2.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
} */

/* Instrucciones 4 FIN */

/* Instrucciones 5 INICIO */
#instrucciones-5 {
    display: none;
    z-index: 5;
}

figure.videoIntro5 {
    background-image: url("/assets/img/procesando.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
/* Instrucciones 5 FIN */

/* Instrucciones 6 INICIO */
#instrucciones-6 {
    display: none;
    z-index: 6;
}

#instrucciones-6 p{
    width: 100%;
    word-break: break-all;
}

#canvas {
    display: none;
}

#photo1 {
    display: none;
}

#photo2 {
    display: none;
}
/* Instrucciones 6 FIN */



/* Boton INICIO */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 28px 0;
    min-height: 56px;
    height: 56px;
    width: 200px;
    border-radius: var(--boton-radious);
    background-color: var(--boton-bg-color);
}

div.boton p {
    font-size: var(--boton-size);
    color: var(--boton-tx-color);
    margin: 0;
}

div.boton:hover {
    background-color: #213C65;
    cursor: pointer;
}
/* Boton FIN */

/* Boton Camara INICIO */
label.boton {
    display: none;
    font-size: var(--boton-size);
    color: var(--boton-tx-color);
}
  /* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.boton input {
    display: none;
}
/* Boton Camara FIN */