:root {

    --corona-font: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fondo-color: #FFFFFF;

    --p-color: #000000;
    --p-size: 14px;
    --p-weight: 400;
    
    --h1-color: #005EB8;
    --h1-size: 24px;
    --h1-weight: 700;

    --h2-color: #005EB8;
    --h2-size: 22px;
    --h2-weight: 600;

    --h3-color: #005EB8;
    --h3-size: 20px;
    --h3-weight: 400;

    --h4-color: #005EB8;
    --h4-size: 18px;
    --h4-weight: 400;

    --boton-bg-color: #005EB8;
    --boton-tx-color: #FFFFFF;
    --boton-size: 16px;
    --boton-radious: 3px;
}

p {
    margin: 12px 0;
    color: var(--p-color);
    font-size: var(--p-size);
    font-weight: var(--p-weight);
}

h1 {
    margin: 0;
    color: var(--h1-color);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
}

h2 {
    margin: 0;
    color: var(--h2-color);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
}

h3 {
    margin: 0;
    color: var(--h3-color);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
}

h4 {
    margin: 0;
    color: var(--h4-color);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
}

::selection {
    color: var(--fondo-color);
    background: var(--h1-color);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 320px;
    min-height: 568px;
    font-family: var(--corona-font);
    background-color: var(--color-fondo);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 0 0;
}

header a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding:0 20px;
}

header a:hover {
    color: var(--boton-tx-color);
    background-color: var(--boton-bg-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 56px;
    height: 56px;
    margin: 0;
    color: white;
    font-size: 12px;
    background-color: #005EB8;
}